body{
    margin: 0;
    padding: 0;
}

header{
    background-color: #e9e0e0;
    height: 150px;
    display: flex;
    align-items: center;
}

.img-logo{
    width: 400px;
    left: 5%;
    position: absolute;
}

.menu{
    display:flex;
    left: 70%;
    position: absolute;
    
}

.menu li{
    
    list-style: none;

}

.menu li a{
    font-size: 18px;
    justify-content: space-between;
    text-decoration: none;
    text-transform: uppercase;
    color: #8CC441;
    padding: 5px 15px;
    border-radius: 5px;
}

.menu a:hover{
    background-color: #818181;
}


.dropdown-menu{
    position: absolute;
    display: none;   
}

.dropdown-menu a{
    display: block;
   
    
}

.dropdown:hover .dropdown-menu{
    display: block;
}



.texto{
    text-align: center;
    margin-top: 70px;
    font-family:'Courier New', Courier, monospace;
    color: #8CC441;
}

.img-ti{
    left: 23%;
    position: absolute;
    width: 1000px;
}

.h2 a{
    text-decoration: none;
    color: #8CC441;
}

.h2{
    font-size: 26px;
    margin-top: 800px;
    margin-left: 23%;
    margin-right: 23%;
}

.txt-melhorar{
    margin-left: 23%;
    margin-right: 23%;
    color: #818181;
    font-size: 35px;
}

.p-melhorar{
    font-size: 26px;
    margin-left: 23%;
    margin-right: 23%;
}

.img-te{
    left: 23%;
    position: absolute;
    width: 1000px;
}



footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    bottom:0%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info,
.quick-links {
    flex: 1;
    padding: 0 20px;
}

.contact-info h2,
.quick-links h2 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

.copyright {
    text-align: center;
    margin-top: 20px;
}




.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

/* Estilos da tabela de horários */
table.horario {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table.horario th, table.horario td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table.horario th {
    background-color: #333;
    color: #fff;
}


@media (max-width:414px){
    
}